.header {
    min-height: 97px; 
} 
.page__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #00fff2;
}
.logo {
    width: 100px;
    height: 97px;
}
.logo_place_header{
    
}